<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/">홈으로</a> <br>
    <h5>생성하기</h5>
    <a th:href="@{/files/form}"></p> 양식 다운로드</a>
    <form th:action="@{/files}" method="post" enctype="multipart/form-data">
        <!-- 기본정보 입력 -->
        <input type="text" name="title" placeholder="평가명">
        <input type="number" name="rowCnt" placeholder="열의 수(학년,반,번호 포함해서 계산)">
        <input type="number" name="year" placeholder="년도(예:2024)">
        <input type="number" name="term" placeholder="학기(1 or 2입력)">

        <!-- 엑셀 파일 입력 -->
        <label for="file">엑셀 파일:</label>
        <input type="file" id="file" name="file" accept=".xlsx,.xls" required>
        <!-- 제출 버튼 -->
        <button type="submit">업로드</button>
    </form>
    <h4>내가 올린 평가결과들</h4>
    <form th:action="@{/admin/my/search}" method="get" enctype="multipart/form-data">
        <input type="number" name="year" placeholder="년도(예:2024)">
        <input type="number" name="term" placeholder="학기(1 or 2입력)">
        <!-- 제출 버튼 -->
        <button type="submit">검색</button>
        <a href="/admin/my">검색초기화</a> <br>
    </form>
    <table>
        <tr>
            <th>평가명</th><th>년도</th><th>학기</th> <th>생성일</th> <th>값조회</th> <th>삭제</th>
        </tr>
        <tr th:each="file : ${files}">
            <td><p th:text="${file.testName}"></p></td>
            <td><p th:text="${file.year}"></p></td>
            <td><p th:text="${file.term}"></p></td>
            <td><p th:text="${#temporals.format(file.createTime, 'yy/MM/dd ahh:mm')}"></p></td>
            <td><a th:href="@{/files/{id}(id=${file.id})}"></p> 값조회</a></td> <!--||를 통해 스트링 합성 가능-> pathVariable사용-->
            <td><a th:href="@{/files/{id}/remove(id=${file.id})}"></p> 삭제</a></td>
        </tr>
    </table>
</body>
</html>