<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/files.css}"/>
</head>
<body>
<a href="/">홈으로</a> <br>
<table>
    <h3>내가 올린 학생정보들 </h3>
    <br>
    <form th:action="@{/admin/my/search}" method="get" enctype="multipart/form-data">
        <input type="number" name="year" placeholder="년도(예:2024)">
        <input type="number" name="term" placeholder="학기(1 or 2입력)">
        <!-- 제출 버튼 -->
        <button type="submit">검색</button>
        <a href="/admin/my">검색초기화</a> <br>
    </form>
    <tr>
        <th>이름</th><th>년도</th><th>학기</th><th>생성일</th><th>값조회</th><th>삭제</th>
    </tr>
    <tr th:each="file : ${files}">
        <td><p th:text="${file.testName}"></p></td>
        <td><p th:text="${file.year}"></p></td>
        <td><p th:text="${file.term}"></p></td>
        <td><p th:text="${#temporals.format(file.createTime, 'yy/MM/dd ahh:mm')}"></p></td>
        <td><a th:href="@{/files/{id}(id=${file.id})}">값조회</a></td>
        <td><a th:href="@{/files/{id}/remove(id=${file.id})}">삭제</a></td>
    </tr>
</table>
<button th:onclick="|location.href='@{|/files/upload|}'|">업로드</button> 학생정보를 업로드하세요!<br>
</body>
</html>