<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/files.css}"/>
</head>
<body>
<table>
    <a href="/">홈으로</a>
    <h3>현재 올라온 모든 평가</h3>
    <tr>
        <th>이름</th><th>년도</th><th>학기</th><th>생성일</th><th>값조회</th><th>삭제</th>
    </tr>
    <tr th:each="file : ${files}">
        <td><p th:text="${file.testName}"></p></td>
        <td><p th:text="${file.year}"></p></td>
        <td><p th:text="${file.term}"></p></td>
        <td><p th:text="${#temporals.format(file.createTime, 'yy/MM/dd ahh:mm')}"></p></td>
        <td><a th:href="@{/files/{id}(id=${file.id})}">값조회</a></td>
        <td><a th:href="@{/files/{id}/remove(id=${file.id})}">삭제</a></td>
    </tr>
</table>
</body>
</html>