<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<body>
<h1>비밀번호 변경</h1>
<form th:action="@{/auth/change-pw}" th:object="${changePasswordRequest}" method="post">
    <div th:if="${#fields.hasAnyErrors()}">
        <div th:each="err:${#fields.allErrors()}" th:text="${err}"></div>
    </div>

    <label for="username">사용자 이름</label>
    <input type="text" id="username" th:field="*{username}" />

    <label for="password1">기존 비밀번호</label>
    <input type="password" id="password1" th:field="*{password1}" />

    <label for="password2">새 비밀번호</label>
    <input type="password" id="password2" th:field="*{password2}" />

    <label for="password3">확인</label>
    <input type="password" id="password3" th:field="*{password3}" />

    <button type="submit">비밀번호 변경</button>
</form>

<div th:if="${successMessage}" th:text="${successMessage}"></div>
<a href="/auth/login">로그인 돌아가기</a>
<a href="/">홈으로</a>
</body>
</html>