<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table>
    <tr>
        <th>번호</th> <th>시험이름</th> <th>업로드</th> <th>성적조회</th>
    </tr>
    <tr th:each="file : ${files}">
        <td><p th:text="${file.testName}"></p></td>
        <td><p th:text="${#temporals.format(file.createTime, 'yy/MM/dd ahh:mm')}"></p></td>
        <td><a th:href="@{/files/{id}/result(id=${file.id})}"></p>성적조회</a></td> <!--||를 통해 스트링 합성 가능-> pathVariable사용-->
    </tr>
</table>
</body>
</html>