<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>HOME</title>
  <link rel="stylesheet" th:href="@{/css/i.css}" />
</head>
<body>
<h1>Home</h1>
<div sec:authorize="isAnonymous()">
  <a href="/auth/login">로그인</a>
  <a href="/auth/join">회원가입</a>
</div>
<div class="container sec-authorize" sec:authorize="isAuthenticated()">
  <a href="/files">성적 조회</a>
  <a href="/admin/my" th:if="${isAdmin} or ${isTeacher}">선생님 페이지</a>
  <a href="/users" th:if="${isAdmin} or ${isTeacher}">유저리스트</a>
  <a href="/all" th:if="${isAdmin}">모든 평가</a>
  <a href="/auth/logout" id="logout-button">로그아웃</a>
</div>
</body>
</html>