<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>HOME</title>
  <link rel="stylesheet" th:href="@{/css/i.css}" />
</head>
<body>
<h1>개별 학생정보 조회 사이트입니다.</h1>
<div sec:authorize="isAnonymous()">
  <a href="/auth/login" class="id1">로그인</a>
  <a href="/auth/join" class="id1">회원가입</a>
</div>
<div class="container sec-authorize" sec:authorize="isAuthenticated()">
  <a href="/files">결과 조회(학생)</a>
  <a href="/admin/my" th:if="${isAdmin} or ${isTeacher}">나의 게시물 관리</a>
  <a href="/users" th:if="${isAdmin} or ${isTeacher}">회원관리</a>
  <a href="/all" th:if="${isAdmin}">모든 게시물 관리</a>
  <a href="/auth/logout" id="logout-button">로그아웃</a>
</div>
<p style="position: fixed; bottom: 0; width: 100%; text-align: center; margin: 0;">
  made by 칠판당면 <br>
</p>
</body>
</html>